div.element-form {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    bottom: 0;
    z-index: 300;
    background-color: rgba(0, 0, 0, 0.6);
}

div.element-form div.inner {
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    padding: 40px;
    border: 1px solid #aaa;
    background-color: white;
    width: 500px;
    color: black;
}

div.element-form div.inner table {
    width: 100%;
    text-align: left;
}

div.element-container {
    position: relative;
    background-color: orange;
}   
    
div.element-container div.element-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0; 
    bottom: 0;      
    -moz-opacity: 0.60;
    opacity: 0.6;
    background-color: white;
    padding: 20px;
}
    
div.element-container div.element-buttons {
    position: absolute;
    top: 5px;
    right: 5px;
}

div.cmslayouts a {
    text-decoration: none;
    color: #444;
}
